*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --global-color-one:#fff;
    --global-color-two:#000;
    --global-color-three:#f1f5f8d2;
    --primary-color:#152f46c9;
    --line-color-one:#6a71ca;
    --line-color-two:#d4d7dc70;
    --sucess-color:#07d1079d;
}
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 100%;
}
a{
    display: block;
    text-decoration: none;
    color: var(--line-color-one);
}
.main-home{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--line-color-two);
} 
.main-home .container{
    position: relative;
    min-width: 320px;
    min-height: 640px;
    border-radius: 10px;
    border:1px solid var(--global-color-three);
    background-color: var(--global-color-one);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.change-count{
    position: absolute;
    top: 20px;
    right: 20px;
}
.user-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-selected .user-img{
    width:150px;
    height: 150px;
    border:10px solid var(--line-color-two);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--global-color-three);
    margin-bottom: 15px;
}
.user-text{
    font-size: 14pt;
    text-align: center;
}
.user-text .user--name{
    font-weight: bold;
}
.user-selected form{
    margin-top: 30px;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.user-selected input,
.user-selected button{
    background-color: none;
    border:none;
    border-radius: 3px;
    padding: 10px;
    outline: none;
}
.user-selected input{
    width: 70%;
    border:1px solid var(--line-color-two);
    font-size: 12pt;
}
.user-selected button{
    width: 100px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--global-color-one);
}
.other-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}