*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --global-color-one:#fffe;
    --global-color-two:#000;
    --global-color-three:#fffa;
    --primary-color:#152f46c9;
    --line-color-one:#6a71ca;
    --line-color-two:#ccca;
    --sucess-color:#07d1079d;
}
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--line-color-one);
}
main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8b6cc85;
}
main .container{
    width: 320px;
    height: 600px;
    border-radius: 10px;
    border:1px solid var(--global-color-three);
    overflow: hidden;
}


/*First container of main Start Here*/
.home.container{
    position: relative;
    background-color: var(--global-color-one);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.change-count{
    position: absolute;
    top: 20px;
    right: 20px;
}
.user-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-selected .user-img{
    width:150px;
    height: 150px;
    border:10px solid var(--line-color-two);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--global-color-three);
    margin-bottom: 15px;
}
.user-text{
    font-size: 14pt;
    text-align: center;
}
.user-text .user--name{
    font-weight: bold;
}
.user-selected form{
    margin-top: 30px;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.user-selected input,
.user-selected button{
    background-color: none;
    border:none;
    border-radius: 3px;
    padding: 10px;
    outline: none;
}
.user-selected input{
    width: 70%;
    border:1px solid var(--line-color-two);
    font-size: 12pt;
}
.user-selected button{
    width: 100px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--global-color-one);
}
.other-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/*Sencod container of main Start Here*/
.lists.container{
    background-color: var(--global-color-three);
}
.lists-header{
    padding: 25px 20px 10px;
    margin-bottom: 5px;
    background-color: var(--global-color-one);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-log{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.user-log .user--img{
    width: 45px;
    height: 45px;
    border:3px solid var(--line-color-two);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--global-color-three);
}
.lists-body{
    padding: 0 20px;
    margin-bottom: 10px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lists{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.lists .list{
    padding: 10px;
    background-color: var(--global-color-one);
    box-shadow: 0 2px 4px #aaa8;
    font-weight: bold;
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
}
.lists-body .new-list{
    font-size: 0.84em;
}

/*Last container of main Start Here*/
.tasks.container{
    background-color: var(--global-color-three);
}
.tasks-head{
    padding: 20px;
    font-weight: bolder;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tasks-body{
    padding: 0 20px;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 76%;
}
.list.task-done{
    background-color: transparent;
    box-shadow: none;
    color: var(--line-color-two);
}
.task-done .task--name{
    text-decoration: line-through;
}
.task-done .task--status{
    color: var(--sucess-color);
}
.tasks-footer{
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: var(--global-color-one);

    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Scrols*/
.tasks-body::-webkit-scrollbar,
.lists-body::-webkit-scrollbar{
    background-color: var(--line-color-two);
    width: 5px;
    border-radius: 2px;
}
.tasks-body::-webkit-scrollbar-thumb,
.lists-body::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: #ccc;
}